.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 75px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px 100px 10px 100px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

h1 {
  color: black;
  margin: 20px;
}

.inputGroup {
  height: 75px;
  margin-bottom: 10px;
}

.jobFormSelect, .jobFormLabel, .jobFormInput{
  display: block;
  font-size: 14px;
  background-color: transparent;
  border: none;  
  box-sizing: border-box;
  color:black;
}

.jobFormLabel {
  font-weight: bold;
}

.jobFormSelect, .jobFormInput {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 0.25rem;
  width: 100%;
  padding: 2px;
}

.addButton, .closeButton {
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #9068b6;
}